body {
  padding: 0;
  margin: 0;
  background: #e2e2ec;
  height: 100%;
}

/*--- navigation bar ---*/

.navbar {
  background: #053053;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
  font-size: large;
}

.nav-link:hover {
  color: rgb(0, 164, 240);
}

.navbar-collapse {
  justify-content: flex-end;
}

/*--- header ---*/

.header {
  background-image: url("images/profile_1.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.intro {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.intro h1 {
  color: #fff;
  font-weight: bold;
}

.intro p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border: 1px solid #6ab446;
  background: #6ab446;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

/*--- filter---*/
button {
  background-color: transparent;
}

button:focus {
  outline:0;
}

.filter-button {
  border: none;
  outline: none;
  text-align: center;
  margin-right: 3rem;
  padding-left: 0;
  color: #aeaeae;
  font-family: 'Roboto Mono', monospace;
}

.filter-button:hover {
  color: #ffa500;
}

.active {
  color: #636363;
  border: none;
  border-bottom: 0.15rem dotted;
  outline: none;
}

:active {
  cursor: url('cursor-onclick.png'), auto;
}

a:active {
  cursor: url('cursor-onclick.png'), auto;
}

/*--- Projects Section ---*/

#work {
  padding-top: 2rem;
}

.work-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.work-block {
  display: none;
}

.show {
  display: block;
}

.thumbnail {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.thumbnail:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

/*column stuff*/
.col-container {
  position: relative;
  width: 50%;
}
.column-mid {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-container:hover .column-img {
  opacity: 0.3;
}

.col-container:hover .column-mid {
  opacity: 1;
}

.column-title {
  color: #333;
  font-family: 'Alegreya', serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.column-img {
  padding-bottom: 20px;
  opacity: 1;
  display: block;
  width: 400px;
  height: 330px;
  transition: .5s ease;
  backface-visibility: hidden;
}




/*--- footer ---*/

.page-footer {
  background-color: #222;
  color: #ccc;
  width:100%;
  height: 190px;
  bottom: 0;
  
}

/*--- media queries ---*/

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
  }
}

/*---social media icons---*/

.icons {
  text-align: center;
}

.soc {
  display: flex; 
  justify-content: center;
}

.soc li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}

.soc li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
/*glow colors */
.soc li:nth-child(1):before{
  background: #0cce1c;
  color: #666;
}
.soc li:nth-child(2):before{
  background: #2867B2;
}
.soc li:nth-child(3):before{
  background: #4267B2;
}
.soc li:nth-child(4):before{
  background: #E1306C;
}


.soc li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
.soc li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #0cce1c;
}
.soc li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
.soc li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
.soc li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #E1306C;
}

.soc li:nth-child(3):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
.soc li:nth-child(1):hover{
  color: #0cce1c;
  box-shadow: 0 0 15px #12a065;
  text-shadow: 0 0 15px #12a065;
}
.soc li:nth-child(4):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
.soc li:nth-child(2):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}


